{% extends "main/base.html" %}
{% block content %}
<h3>Регистрация</h3>
<form method="post">{% csrf_token %}
<input name="full_name" placeholder="ФИО" required><br>
<input name="email" placeholder="Email" required><br>
<input name="phone_number" placeholder="Телефон" required><br>
<input name="driver_license" placeholder="Серия и номер ВУ" required><br>
<input type="password" name="password" placeholder="Пароль" required><br>
<input type="password" name="confirm_password" placeholder="Повторите пароль" required><br>
<button type="submit">Зарегистрироваться</button>
<a href="{% url 'login' %}">Войти</a>
</form>
{% endblock %}