{% extends "main/base.html" %}{% block title %}Регистрация — AutoRent{% endblock %}
{% block content %}<div class="auth-wrap"><div class="auth-card">
<h2>Регистрация</h2>
<form method="post">{% csrf_token %}
<label>ФИО</label><input name="full_name" placeholder="Иванов Иван Иванович" required>
<label>Email</label><input type="email" name="email" placeholder="example@mail.ru" required>
<label>Телефон</label><input name="phone_number" placeholder="+7 (999) 000-00-00" required>
<label>Серия и номер ВУ</label><input name="driver_license" placeholder="77 АА 123456" required>
<label>Пароль</label><input type="password" name="password" placeholder="••••••••" required>
<label>Повторите пароль</label><input type="password" name="confirm_password" placeholder="••••••••" required>
<button type="submit" class="btn" style="width:100%;justify-content:center">Зарегистрироваться</button>
</form>
<p class="auth-foot">Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>
</div></div>{% endblock %}
